<section class="services-section">
  <h2 class="section-title">Our Dental Services</h2>
  <p class="section-subtitle">
    Providing expert dental care using modern techniques and equipment.
  </p>

  <div class="service-cards">
    <div class="service-card">
      <img src="./../../assets/polish.png" alt="Cleaning Icon" />
      <h3>Teeth Cleaning</h3>
      <p>Professional cleaning to maintain oral hygiene and fresh breath.</p>
    </div>

    <div class="service-card">
      <img src="./../../assets/dental-filling.png" alt="Fillings Icon" />
      <h3>Tooth Fillings</h3>
      <p>High-quality, pain-free cavity filling for long-lasting protection.</p>
    </div>

    <div class="service-card">
      <img src="./../../assets/clean-teeth.png" alt="Whitening Icon" />
      <h3>Teeth Whitening</h3>
      <p>Advanced whitening treatments to bring back your bright smile.</p>
    </div>

    <div class="service-card">
      <img src="./../../assets/braces.png" alt="Braces Icon" />
      <h3>Braces & Aligners</h3>
      <p>Modern orthodontic treatments to align teeth with comfort.</p>
    </div>

    <div class="service-card">
      <img src="./../../assets/root-canal.png" alt="root-canal Icon" />
      <h3>Root Canal Treatment</h3>
      <p>Specialized endodontic care to relieve pain and preserve natural teeth.</p>
    </div>

    <div class="service-card">
      <img src="./../../assets/x-ray.png" alt="Xray Icon" />
      <h3>Dental X‑Ray & Diagnosis</h3>
      <p>Advanced imaging to accurately diagnose dental issues before treatment.</p>
    </div>
    <div class="service-card">
      <img src="./../../assets/wisdom.png" alt="Wisdomtooth Icon" />
      <h3>Wisdom Tooth Treatment</h3>
      <p>Safe and painless removal or management of wisdom teeth complications.</p>
    </div>

    <div class="service-card">
      <img src="./../../assets/artificial.png" alt="Implants Icon" />
      <h3>Artificial Tooth / Implants</h3>
      <p>Premium tooth replacements for a natural, long-lasting smile.</p>
    </div>
    <div class="service-card">
      <img src="./../../assets/dentist (1).png" alt="MilhTeeth Icon" />
      <h3>Milk Teeth Treatment</h3>
      <p>Gentle pediatric dental care for children and baby teeth health.</p>
    </div>
    <div class="service-card">
      <img src="./../../assets/medical.png" alt="Crown Icon" />
      <h3>Tooth Restoration with Crown </h3>
      <p>We offer precision dental crown fittings to restore your tooth’s strength, shape, and natural appearance.</p>
    </div>

  </div>
</section>
